.image{
    display: inline-block;
}
.image img{
    width: 300px;
    margin-right: 100px;

}
.login{
    display: inline-block;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: rgb(249, 246, 242);
    align-self: center;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 500px;
}
.login img{
    width: 60px;
    border-radius: 58px;
    margin-left: 130px;
    margin-top: -900px;

}
.forms{
    margin-top: 90px;
}
h2{
    color: rgb(128, 123, 97);
    font-size: 50px;
    text-align: center;
}
.login .b1{
    display: block;
    margin-top: 18px;
    border-radius: 3px;
    padding-right: 75px;
    color: gray;
    border-style: solid;
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom-color: black;

}
.login .sub{
    padding: 10px;
    margin-left: 100px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity .15s;
    display: block;
}
.login .sub:hover{
    opacity: .5;
}
.login a{
    text-decoration: none;
}
